pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.repl
.nrepl-port
figwheel_server.log
.cpcache/
.rebel_readline_history

# Build artifacts

/resources/public/js/compiled/**
/resources/public/js/test/**
